asn1crypto==0.24.0
bcrypt==3.1.4
blinker==1.4
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
enum34==1.1.6
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
psycopg2==2.7.5
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
PyJWT==1.6.4
pyOpenSSL==18.0.0
pytz==2018.5
pyxdg==0.25
requests==2.19.1
SecretStorage==2.3.1
six==1.11.0
SQLAlchemy==1.2.12
twilio==6.18.1
urllib3==1.26.5
Werkzeug==0.14.1
