@font-face {
  font-family: 'Apple_Chancery';
  src: url('../font/Apple_Chancery.ttf') format('truetype');
}

@font-face {
  font-family: 'CooperHewitt-Medium';
  src: url('../font/CooperHewitt-Medium.otf') format('opentype');
}

.login-page {
  background-color: #8499B1;
  color: white;
  margin: 2.5px;
	padding: 5px;
	border-radius: 15px;
}


h2 {
  font-family: Apple_Chancery;

}

select {
	margin: 5px;
  background-color: white;
}

option {
  background-color: white;
}

window-content {
    align-items: center;
}

input {
  color: black;
  width: auto;
  align-items: center;
}

.review-div {
	display: inline-block;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.random-headers {
		font-family: Apple_Chancery !important;
}


/* Drop down animation for trail notes */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.diff-dropdown {
	color: black;
}

a {

}

html {
	height: 100%;
}

body {
	height: 100%;
}

textarea {
	padding: 5px;
}

.btn-1 {
	align-items: center;
}

button {
	background-color: #837569;
	color: white;
	border-radius: 5px;
	padding: 10px;
	font-family: Apple_Chancery;
	margin: 5px;
	border-color: #837569;

}


.trail-to-do {
	background-color: #8499B1;
	width: 45%;
	display: inline-block;
	margin: 2.5px;
	padding: 2.5px;
	border-radius: 15px;
	color: #493B2A;
	text-emphasis: bold;
}


.trail-name {
	height: 2em;
	text-emphasis: bold;
}


.trail-description {
	height : 4em;
	overflow: hidden;
}

.your-trails-title {

	display :inline-block;
	font-family: Apple_Chancery;

}

.badges {
		display: inline-block;
		height: 4em;
}
.navbar-brand {
	font-family: Apple_Chancery;
  color: #8499B1!important;
  font-size: 4em;
  margin: 5px;

}

.navbar-nav>li>a {
  line-height: 40px;

}


.selections {
	align-items: center;
	text-align: center;
	background-color: #8499B1;
	color: white;
	margin: 2.5px;
	padding: 2.5px;
	border-radius: 15px;
}

.two-trees {
	align-items: center;


}

.badge-class {
		display: inline-block;
}

.trek-buttons {
	width: 100%;
	display: inline-block;
	vertical-align: text-bottom;
}

.trek-details {

	width: 100%;
	height: 90%;
	vertical-align: text-top;
	padding: 10px;
	margin: 5px;
	display: inline-block;

}

.done-trek-details {

	width: 100%;
	height: 90%;
	vertical-align: text-top;
	padding: 10px;
	margin: 5px;
	display: inline-block;

}

.reviewed-trails {
	display: inline-block;
	width: 45%;
	vertical-align: text-top;
	border-radius: 15px;
	background-color: #B8DBD9;
	margin: 2.5px;
	padding: 2.5px;
	height: 9em;
	color: black;

}

.error-message {
	text-align: center;
	width: 100%
}

.slidecontainer {
	width : 50%;
	margin-left: auto !important;
  margin-right: auto !important;
}

img.badge-image {
	height: 3em;
	width: 3em;
	display: inline-block;
}

.navbar navbar-default{
	height: 25px;
  line-height: 40px;
  font-size: 3em;

}

.attribute-title {
	display: inline-block;
	font-weight: bold;
}

.attribute-value {
	display: inline-block;
}

#trail-details {
	margin: 5px;
}

img#trail-picture {
	height: auto;
	max-height: 450px;
	object-fit: cover;
	width: 100%;
	margin: 5px;
	display: inline-block;

}

#trailheadmap {
	height: 700px;
	width:100%;
	background-color: white;
	margin: 5px;
	display: inline-block;
}

 #map {
   height: 1000px;
	 width: auto;
   background-color: white;
	 align-items: center;
 }

#message {
     display:none;
     background: #f1f1f1;
     color: #000;
     position: relative;
     padding: 20px;
     margin-top: 10px;
 }

 #message p {
     padding: 10px 35px;
     font-size: 14px;

     .valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
