html {
	height: 100%;
}

body {
	height: 100%;
}

#your-trails-title {

}

.badges {

		height: 4em;
}
.navbar-brand {
	font: helvetica;
}


.selections {
	align-items: center;
	text-align: center;
}

.two-trees {
	align-items: center;


}

.badge-class {
		display: inline-block;
}

.trek-buttons {
	width: 100%;
	display: inline-block;
	vertical-align: text-bottom;
}

.trek-details {

	width: 45%;
	height: 90%;
	vertical-align: text-top;
	padding: 10px;
	margin: 5px;
	display: inline-block;

}

.reviewed-trails {
	display: inline-block;
	width: 45%;
	vertical-align: text-top;
}

#error-message {
	text-align: center;
}

.slidecontainer {
	width : 50%;
	margin-left: auto !important;
  margin-right: auto !important;
}

img.badge-image {
	height: 3em;
	width: 3em;
	display: inline-block;
}

.navbar navbar-default{
	height: 25px
}

.attribute-title {
	display: inline-block;
	font-weight: bold;
}

.attribute-value {
	display: inline-block;
}

#trail-details {
	margin: 5px;
}

img#trail-picture {
	height: auto;
	max-height: 450px;
	object-fit: cover;
	width: 100%;
	margin: 5px;
	display: inline-block;

}

#trailheadmap {
	height: 600px;
	width:100%;
	background-color: white;
	margin: 5px;
	display: inline-block;
}

 #map {
   height: 1000px;
	 width: 1000px;
   background-color: white;
 }

#message {
     display:none;
     background: #f1f1f1;
     color: #000;
     position: relative;
     padding: 20px;
     margin-top: 10px;
 }

 #message p {
     padding: 10px 35px;
     font-size: 14px;

     .valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
