<!-- Page showing users their pending and completed trails -->
{% extends 'base.html' %}
{% block title %}
My Trails
{% endblock %}

{% block content %}
<!-- UNFINISHED TRAILS -->
<div class="row">
  <div class="col-lg-12">
    <div class="your-trails-title">
      <br>
    <h2>Your Trails</h2>
    </div>
      <div class="badges">
        {% for merit in merit_list %}
        <div class="badge-class" id="{{ merit }}">
          <img class="badge-image" title="{{ merit | replace("-"," ") | title }}" src="/static/img/{{merit}}.jpg">
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
<!-- USER'S TRAILS -->
<div class="row">
  <div class ="col-lg-12">
    <div class = "remaining-trails">
      {% if remaining_trails != 0 %}
      {% for trail in remaining_trails %}
        <div class = "trail-to-do">
        <div class="trek-details" id="div-{{ trail.trail_id }}">
          <div class="trail-name">{{ trail.trail_name }} <a href="/trail/{{ trail.trail_id }}">Trail Info</a></div>
          <div class="trek-buttons">
            Completed the trail? Add your notes and mark as completed.<br>
            <textarea rows='5' cols='50' id="{{ trail.trail_id }}-text"></textarea><br>
            <button type="button" class="trailcompleted" name="{{ trail.trail_id }}" id="completed-{{ trail.trail_id }}">Mark trail as completed</button>
            <button type="button" class="removetrail" name="{{ trail.trail_id}}" id="{{ trail.trail_id }}">Remove Trail</button>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      No trails are in your database. Let's <a href="/homepage">add some!</a>
      {% endif %}
    </div>
  </div>
</div>


<!-- COMPLETED TRAILS -->
<div class="your-trails-title">
<h2>Your Completed Trails</h2>
</div>
<br>
{% if completed_trails != 0 %}
  {% for review in completed_trails %}
  <div class="reviewed-trails">
    <div class="done-trek-details">

    {{ review.trails.trail_name }} <a href="/trail/{{ review.trails.trail_id }}">Trail Info</a><br>
    Miles hiked: {{ "%d" % review.trails.trail_length }} Trail difficulty: {{ review.trails.trail_difficulty }}
    {% if review.review_text != "" %}
    <br>
    <div class="dropdown"><div class="review_text"><span><img class="badge-image" src="../static/img/notebook.svg"></span><div class="dropdown-content">{{ review.review_text }}</div></div></div>
    {% else %}

    {% endif %}
    <br>
  </div>
  </div>
  {% else %}
  <div class="reviewed-trails">
    You haven't reviewed any trails.
  </div>
  {% endfor %}
  {% endif %}

<script src='../static/mytrails.js' type="text/javascript"></script>

{% endblock %}
