{% extends 'base.html' %}
{% block title %}
Trail Details
{% endblock %}
{% block content %}

<div class="row">
<div class="col-lg-6">
<div id="trail-details">
<h2>{{ trail.trail_name }}</h2>
<div class="attribute-title">Length:</div> <div class="attribute-value">{{ trail.trail_length }}</div><br>
<div class="attribute-title">Description:</div> <div class="attribute-value">{{ trail.trail_description }}</div><br>
<div class="attribute-title">Altitude:</div> <div class="attribute-value">{{ "%d" % trail.trail_high_alt }} ft (high) {{ "%d" % trail.trail_low_alt }} ft (low) {{ "%d" %(trail.trail_high_alt - trail.trail_low_alt) }} ft (delta)</div><br>
<input type="hidden" id="trailheadlat" value="{{ trail.trailhead_latitude }}">
<input type="hidden" id="trailheadlong" value="{{ trail.trailhead_longitude }}">
<input type="hidden" id="trailid" value="{{ trail.trail_id }}">
<input type="hidden" id="trail_name" value="{{ trail.trail_name }}">
</div>
<br><br>
<div id="add-to-trails-button">
  {% for thing in in_my_trails %}
  <button type="button" id="trailid-add" name="add-to-my-trails">Add to My Trails</button>
  {% endfor %}
</div>
</div>
<div class="col-lg-5">
<div id="trail-picture">
<img src="{{ trail.trail_picture }}">
</div>
</div>
<div class="col-lg-1">
</div>
</div>
<!-- End of row -->
<div id="map"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT4L9G5iunkBWCBwqqm6Qdt7-0hG34L6Y">
</script>
<script src="../static/trail.js" type="text/javascript"></script>
{% endblock %}
